    {% extends "base.html" %}
    {% block link%} <link rel="stylesheet" href="{{ url_for('static', filename='definicoes.css') }}"> {% endblock %}
    {% block content %}
    <div class="defini-geral">
        <div class="div-primaria">
            <div class="aparencia">
                <h2>Aparência</h2>
                <form action="{{ url_for('definicoes') }}" method="post">
                    <label>
                        Claro: <input type="checkbox"  class="tema" value="Claro"> 
                    </label>
                
                    <label>
                        Escuro: <input type="checkbox" class="tema" value="Escuro">
                    </label>
                </form>
            </div>
            <div class="div-imagem">
                <img src="{{url_for('static', filename='img/pexels-karola-g-4021775.webp')}}"  alt="Saiba mais sobre nós" class="img_service">
                <h4>Saiba mais sobre nós.</h4>
                <p>Conheça outros serviços que prestamos...</p>
                <button>
                    <a href="evvaall.github.io">Ver site</a>
                </button>
            </div>
        </div>
        <div class="funcionarios">
            <h2>Funcionários</h2>
            <button onclick="addFuncinario()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#000" width="24" height="24"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            </button>
            <button onclick="deleteFuncinario()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#000" width="24" height="24"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/></svg>
            </button>
            <form action="{{ url_for('verificar') }}" method="POST">
                {% for funcionario in lista_funcionarios %}
                    <div class="foto"></div>
                    <label>
                        {{ funcionario.nome }} <input type="checkbox" name="nome" class="nome" value="{{ funcionario.nome }}">
                    </label>
                {% endfor %}
                <button type="submit">Salvar</button>
            </form>
        </div>
        <div class="pagamentos">
            <h2>Métodos de pagamento</h2>
        </div>
        <div class="conta-principal">
            <h2>Conta principal</h2>
            <button>mudar senha</button>
            <button>apagar conta</button>
            <button>ver mais informações</button>
        </div>
    </div>
    <div id="modaladdfuncionario" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">
        <div style="background-color: white; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 30%; border-radius: 12px;">
            <h2 id="modalNome">Vender Medicamento</h2>
            <form id="formVenda" method="POST" action="{{url_for('definicoes')}}" style="display: grid;">
                <input type="text" name="Nome" required placeholder="Nome do Funcionário:">
                <input type="number" name="Tel" required placeholder="Telefone/Whatsapp:">
                <input type="number" name="Nivel" required placeholder="Nível de acesso:">
                <input type="text" name="Senha" required placeholder="Senha:">
                
                <div style="margin-top: 20px;">
                    <button type="submit" style="background: green; color: white; padding: 10px;">Confirmar</button>
                    <button type="button" onclick="fecharModal()" style="background: red; color: white; padding: 10px;">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <div id="modaldeletefuncionario" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">
        <div style="background-color: white; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 30%; border-radius: 12px;">
            <h2 id="modalNome">Remover Funcionário</h2>
            <form id="formVenda" method="POST" action="{{url_for('excluir_nome')}}" style="display: grid;">
                <input type="text" name="Nome" required placeholder="Nome do Funcionário:">
                 <div style="margin-top: 20px;">
                    <button type="submit" onclick="return confirm('Tem Certeza disso?')" style="background: green; color: white; padding: 10px;">Confirmar</button>
                    <button type="button" onclick="fecharModal()" style="background: red; color: white; padding: 10px;">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function addFuncinario(){
            const div = document.getElementById('modaladdfuncionario');
            div.style.display = 'block';
        }
        function deleteFuncinario(){
            const div = document.getElementById('modaldeletefuncionario');
            div.style.display = 'block';
        }
    </script>
    {% endblock %}