<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding: 20px;
            font-family: Arial;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        h1{
            color: #0b3b3e;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        Relatorios de venda da Farmácia {{ nome }} do dia {{ dia }}
    </h1>
    <div>
        <strong>
            No dia de {{ dia }} foram registradas {{ quantidade }} Vendas.
        </strong>
    </div>
    <div>
        <strong>Aqui está uma lista dos medicamentos vendidos Hoje:</strong>
    </div>
    <div class="lista">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for x in medicamentos %}
                <tr>
                    <td> {{x.nome}} </td>
                    <td> {{x.categoria}} </td>
                    <td> {{x.quantidade}} </td>
                    <td> {{x.preço}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <strong>
            O  total de Vendas de {{ data }} deixou um saldo final de {{ valor }} Kzs.
        </strong>    
    </div>
    <div>
        <strong>
            Os medicamentos com estock abaixo de 10, são:
        </strong>
    </div>
    <div>
        <strong>
            Estes são os produtos mais vendidos:
        </strong>
    </div>
</body>
</html>