.centro{
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 10px;
    margin-right: 0;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card-1{
    background-color: #0b3b3e;
    box-shadow: 0px 0px 0px 7px rgba(0, 128, 0, 0.178);
    display: grid;
    justify-content: left;
    align-items: center;
    width: 170px;
    height: 80px;   
    padding-left: 10px;
    padding-bottom: 10px;
}
.card{
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 8px #ffffff57;
    display: grid;
    justify-content: left;
    align-items: center;
    width: 170px;
    height: 80px;   
    padding-left: 10px;
    padding-bottom: 10px;
}
.card-2{
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 8px #ffffff57; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
    padding: 10px;
}
.card-2 p{
    font-size: 13px;
    width: 112px;
}
.card-2 h3{
    border-left: 2px solid #0b3b3e;
    font-size: 30px;
    color: #cc7f0e; 
    font-weight: bold;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-3{
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 8px #ffffff57; 
    display: grid;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 70px;
    padding: 10px;
    text-align: center;
}
.card-3 p{
    border-bottom: 2px solid #0b3b3e;
    font-size: 13px;
    margin: 0px;
    padding-bottom: 10px;
}
.card-3 h3{
    font-size: 20px;
    color: #cc7f0e; 
    font-weight: bold;
    margin: 0px;
}
.bottom{
    display: flex;
    gap: 10px;
}
.graphics{
    display: grid;
    gap: 5px;
}
.figure-1{
    background-color: #ffffff;
    display: grid;
    justify-content: left;
    align-items: center;
    min-width: 580px ;
    width: 620px;
    height: 190px;   
    padding-left: 10px;
    padding-bottom: 10px;
}
.figure-2{
    background-color: #ffffff;
    display: grid;
    justify-content: left;
    align-items: center;
    min-width: 580px;
    width: 620px;
    height: 190px;   
    padding-left: 10px;
    padding-bottom: 10px;
}
.figure-3{
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 410px;
}
