<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registrar.css') }}">
</head>
<body>
    <div class="main-screen">
      <div class="welcome">
        <div class="div-central">
            <h1>
            Faça log in:
          </h1>
          <p>Junte-se à rede MedNear e gerencie o seu stock online.</p>
          <button> <a href="{{ url_for('registrar') }}">Criar conta</a> </button>
        </div>
      </div>
        <form action="{{ url_for('login') }}" method="POST" class="log-in">
            <h2>Bem Vindo de volta.</h2>
            <label for="">E-mail:</label>
            <input type="email" name="email" placeholder="E-mail da Farmácia" required>
            <label for="">Senha:</label>
            <input type="password" name="password" placeholder="Criar Palavra-passe" required>
            <button type="submit" class="btn-auth">Entrar</button>      
        </form>
    </div>
</body>
</html>